# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
# build/
node_modules/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
Generated.xcconfig
*.lock

# VS Code
.vscode/
.idea/

# Android/iOS
android/
ios/
macos/
web/
windows/
linux/

# Misc
*.iml
*.log
