# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.dart-sdk/
*.dartsdk-*.zip
# build/
node_modules/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
Generated.xcconfig
*.lock

# VS Code
.vscode/
.idea/

# Android/iOS
android/
ios/
macos/
web/
windows/
linux/

# Allow committed Flutter web build for hosting
!build/web/
!build/web/**
